[2019-03-01 07:27] davalapar opened #1 "Windows build failure on outdated node-gyp (msvs_version=2015) @ Windows 7 x64"
I'm eager to test this out on my project [rurudb](https://github.com/davalapar/ruruDB), a prototypal db which currently uses `JSON.parse` against loaded db file JSON string.

Sad thing is I don't know shit about C++ so this might be tricky.

I'm on Win7 x64 with visual studio build tools, and have existing packages in my projects which are also built using node-gyp.

[code]

[code]

[2019-03-01 07:52] luizperes commented on #1
Hi @davalapar, I don't understand your problem very because this output is very unclear to me (there are years that I don't use Windows).

According to your error message, it seems to be a problem with your C++ default compiler.
This error here for example: `c:\cygwin64\home\1234\rurudb\node_modules\simdjson\simdjson\src/simdjson.h(462): error C4430: missing type specifier - int assumed. Note: C++

[2019-03-01 08:03] luizperes commented on #1
Hey @davalapar, have you tried `npm install simdjson`?

I am saying that because I found the following: https://github.com/yarnpkg/yarn/issues/5115

[2019-03-01 11:55] davalapar commented on #1
Yes, however it's same error.

Seems right, it appears that `string_view` is an `std` stuff in C++ 17 and it's my outdated `node-gyp` version causing this.

I tried adding:

[code]

to make it look like

[code]

and the error will persist (as it should), but when I tried switching `-std:c++14` with `-std:c++17` it will then say that it doesn't recognize it as a flag.

[code]

I think updating my o

[2019-03-01 16:43] luizperes commented on #1
That sounds good, please let me know how that turns out

[2019-03-02 00:20] lemire opened #3 "Detect dynamically AVX2 within npm"
When can detect AVX2 dynamically within npm without user intervention, see for example...

https://github.com/SalvatorePreviti/roaring-node/blob/master/binding.gyp#L24-L29

[2019-03-02 01:01] luizperes commented on #3
That sounds good! I am still to test these bindings in all three platforms (we got an error with windows https://github.com/luizperes/simdjson_nodejs/issues/1) and will totally add the AVX2 checking!

Thanks @lemire

[2019-03-02 01:34] lemire opened #5 "Parsing time is dominated by makeJSONObject (in the wrapper)"
At the C++ level, isValid and parse do exactly the same work.  This is obvious from the code in this wrapper:

[code]

Versus

[code]

However, in `simdjson_nodejs`, `parse` is at least 20x slower than `isValid`. This indicates that the running time is entirely dependent on `makeJSONObject`.

This function is written in a sensible manner but it is nevertheless quite slow. Evidently, this defeats t

[2019-03-02 02:07] lemire commented on #5
Evidently, long term the solution might be to avoid `makeJSONObject` and bring the computation to C++, instead of bringing the data to JavaScript.

[2019-03-02 04:15] luizperes commented on #5
Hi @lemire, you are completely right. I verified that it was the case when I was creating the benchmarks for this project and this is the reason why in the benchmark file I use the `isValid` function to make a fair comparison. I did not open the issue - should've done it - but I had this is mind and just have put that as the highest priority for this project. As you mentioned, performance is the w

[2019-03-02 13:38] lemire commented on #5
It might be possible to keep your design but just find a way to batch it so that it runs faster. I am aware that this is not trivial.

[2019-03-02 21:25] TkTech commented on #5
We have the same problem in pysimdjson where the benchmarks are dominated by the time taken to convert into high-level Python objects. I've been implementing jq-like syntax to avoid creating unnecessary objects and allowing the caller to filter to a subset of the document. I'd like to extend it to allow manipulation of the object as well, but that will take some time to iron out.

It's a simple, u

[2019-03-03 08:09] luizperes commented on #5
Hi @TkTech, I've been looking at your project, it seems very complete. I used your project structure and README file as the start point for the `simdjson_nodejs`. I'll surely look at your code when I take this issue to solve (I am currently trying to solve it for multiple architectures).

It is good to know that you are having a similar problem, so we can update each other in case of success.

Tha

[2019-03-03 08:16] luizperes opened #6 "Project doesn't seem to be working for main OSs"
It seems that `simd_nodejs` on the master branch is only currently working for Linux (the current tag version `0.0.2` on `npm` has only been tested with Mac and seems to be fine.

At the moment, we have two reported error in Windows and Mac:
- Windows: #1
- Mac: (see output below)

[code]

It seems that the flags `__AVX2__` and `BMI` are not being recognized on Mac OS (it was tested outside `npm`

[2019-03-03 14:29] luizperes commented on #5
Hi @lemire, I was working on #7 and decided to create some benchmarks for `Napi` against `Nan` (Google v8) and got interesting results:

#### Benchmarks for `Napi` using only the `isValid` method:
[code]
|      filename     |   JSON file    |   simdjson file |
| :---------------: | :------------: | :-------------: |
| apache_builds.json.json | 0.0007966620520429015 | 0.0001389790584036548 |
| cana

[2019-03-03 14:31] luizperes commented on #1
Hi @davalapar, I think I fixed your problem. I haven't merged into master because I am still working on it, but if you want, you can download it on this branch here: https://github.com/luizperes/simdjson_nodejs/tree/issue-6

[2019-03-03 14:50] lemire commented on #5
Another option would be *not* to convert the JSON data, piece by piece, into C++ and then JavaScript values. Just expose the C++ "object" by wrapping its methods. Is that practical?

[2019-03-03 18:13] davalapar commented on #1
Hi @luizperes, I haven't updated my os or node-gyp yet (still at win 7 & msvs build tools 2015) but still gave it a shot:

[code]

this line stands out, which could be related to nan https://github.com/nodejs/nan :

[code]

I googled that shit and landed on https://github.com/astro/node-expat/issues/78 which led me to https://github.com/astro/node-expat/compare/dadleyy-nan-fix where I tried editin

[2019-03-03 18:22] luizperes commented on #5
That is exactly the option I had in mind, will be working on it once I figure #7 out, cheers!

[2019-03-03 23:50] luizperes commented on #1
Thanks for the feedback! However, I believe that your project is using the default `JSON` parser, since I am still giving support to it, in case that it fails for `avx2`. You will see that you are only compiling the ` nonavx2.cpp` file.

I think I just fixed this problem for windows (both the warning for `<nan.h>` and the problem that it wouldn't compile properly. I would really appreciate if you

[2019-03-03 23:54] luizperes commented on #3
Hi @lemire, I think I fixed this issue. However, because I do not have a `AVX2` Linux machine, I would like to ask if you could download the branch `issue-6` (https://github.com/luizperes/simdjson_nodejs/tree/issue-6) and test if it is still compiling for Linux.

It was needed because we were having a bug where the bindings were only working for Linux (please see #1 and #6).

I would appreciate if

[2019-03-03 23:59] lemire commented on #3
@luizperes I have just emailed to your sfu address instructions for how to access (by ssh/linux) Linux servers with AVX2.

Will that help?

[2019-03-04 00:01] lemire commented on #3
(If you don't get my email, please reach out to me at lemire@gmail.com.)

[2019-03-04 00:02] lemire commented on #3
Idea: it is 10x harder to support a platform you cannot directly access.

[2019-03-04 00:45] luizperes commented on #3
@lemire That helps a lot, I received your email, will work on that and will update you here! Thanks!

[2019-03-04 00:55] luizperes commented on #3
Hi @lemire, it is working properly on Linux as well, thanks for the help. Also, if you kept my user would be good, because I realized that the `Nan` Google V8, might actually be worse than the previous `Napi`, so I will need to cherry pick some of the commits before I merge it. Thank you again!

[2019-03-04 00:58] luizperes commented on #6
Here goes a list of the tested OSs.:

- [ ] Linux
- [ ] Mac OS
- [ ] Windows

[2019-03-04 01:11] lemire commented on #3
Sure. I also have other Linux machines if you want further testing.

@TkTech : I can give you the same access if you need it.

[2019-03-04 01:20] TkTech commented on #3
@lemire thanks for the offer, I luckily have a large collection of random boxes from my osdev days. Did you see the new [POWER9 blackbird](https://raptorcs.com/content/BK1B01/intro.html)? First POWER9 I've seen around ~$1k for PCU+board.

@luizperes There is also the [Intel Software Development Emulator](https://software.intel.com/en-us/articles/intel-software-development-emulator) for win/mac/lin

[2019-03-04 02:44] lemire commented on #3
Anyhow, I am happy to provide access to our machines for this type of research.

Evidently, one can also get access to fun machines on cloud providers like Packet.

(Yes. I have a POWER9 machine. Was way more expensive than that... but now that I have it...)

[2019-03-04 03:08] luizperes commented on #3
Thanks for the info about the emulator @TkTech !

[2019-03-04 04:16] davalapar commented on #1
Hi @luizperes, seems that you're right. Tested the `issue-6` branch and the latest `master` branch and both shows the initial `c++17` error I had before.

I'm currently installing VS build tools 2017 for `node-gyp`, will get back to you if it works out!

[2019-03-04 04:18] luizperes commented on #3
Hi @lemire, I am detecting AVX2 now on the (merged) branch https://github.com/luizperes/simdjson_nodejs/tree/proper-fix-issue-6. I've tested so far on Mac OS and Linux and it looks good. I am waiting for @davaloper to update me on Windows.

Other than that, please let me know if this issue can be closed. Cheers

[2019-03-04 08:02] davalapar commented on #1
Installed with :

- MSBuild Tools
- Visual C++ Build Tools core features
- Windows 8.1 SDK
- Windows 10 SDK

`issue-6` branch:

[code]

`master` branch:

[code]

[2019-03-04 08:08] luizperes commented on #1
Thank you, I will have to study them, because you keep getting problems with `string_view`. It could be that we are not passing a flag `-std=c++17` to the VS

[2019-03-04 08:31] davalapar commented on #1
Yes I saw it too, I tried adding '/std:c++17',

[code]

which got rid of string_view related errors, but then some warnings still show up. Also tried running benchmark at this point but it won't proceed (just exits).

[code]

[2019-03-04 08:34] luizperes commented on #1
The flags `"/mavx2", "/mavx", "/mbmi", "/mpclmul"` can all be removed, I thought that they were needed (such as in Linux and Mac OS). Did you get anything running?

Also, that would be cool if you could open a PR on your fixes for Windows. Thanks!

[2019-03-04 11:14] davalapar commented on #1
Just opened the PR, I've removed those flags yet some warnings still show up, and when I try to run the benchmark it just abruptly exits without any errors / warnings.

I've checked a couple issues in `node-gyp` repo and it seems that on warnings like these (shown in pr) they are telling people that it's not a problem in `node-gyp`

[2019-03-05 05:38] luizperes commented on #1
How about any of the other functions: ` hasAVX2`, `isValid`? Do they work?

[2019-03-05 06:05] davalapar commented on #1
Just teted, `hasAVX2` works, `isValid` exits like `parse`:

[code]

[2019-03-05 06:14] luizperes commented on #1
So... the `hasAVX2` only checks if the flag `__AVX2__` was passed. `isValid` actually calls the `simdjson` lib. I wonder if you really have `avx2`, have you ever tested it? That is so unusual, I would expect you to get a crash or mixed up values, but no response is weird. This project here would help you to check if you have AVX2 https://github.com/Mysticial/FeatureDetector

[2019-03-05 06:21] luizperes commented on #1
Oooooh! The flag `NAPI_DISABLE_CPP_EXCEPTIONS ` will prevent the code from throwing exceptions!!! That sucks! would you try to compile the files related to `simdjson` directly?

They can be found on:
`./simdjson/src/simdjson.h`
`./simdjson/src/simdjson.cpp`

You might find directions on how to compile them here: https://devblogs.microsoft.com/cppblog/building-your-c-application-with-visual-studio-

[2019-03-05 14:13] davalapar commented on #1
Got this, it created `.pdb` and `.obj` files:

<img src="https://i.imgur.com/WPFRfYx.png" />

[2019-03-06 03:50] luizperes commented on #1
I wonder if you have to add the flas `/Od /Zi /EHsc` to the `binding.gyp` file such as:
``
"msvs_settings": {
  "VCCLCompilerTool": {
    "AdditionalOptions": ['/std:c++17', "/arch:AVX2", "/Od", "/Zi", "EHsc"]
  }
}
[code]
{
    "targets": [{
        "target_name": "simdjson",
        "cflags!": [ "-fno-exceptions" ],
        "cflags_cc!": [ "-fno-exceptions" ],
        "sources": [
            "s

[2019-03-06 07:52] davalapar commented on #1
[code]

[code]

---

[code]

[code]

---

[code]

[code]

[2019-03-06 07:56] davalapar commented on #1
[code]

[code]

---

[code]

[code]

[2019-03-06 07:59] luizperes commented on #1
Do any of them work?

[2019-03-06 08:07] davalapar commented on #1
Unfortunately not, none of them does

[2019-03-06 09:14] davalapar commented on #1
So yeah, it turns out that the main issue here (despite my recently updated Visual Studio Build Tools 2017 for latest node-gyp) is that my workstation processor (AMD A7 6XXX) does not support AVX2 instructions.

We've discovered this during a teamviewer session where we tried installing other npm modules that also uses AVX2 and noticed that all their build phases during installation are failing.

[2019-03-06 09:14] #1 closed

[2019-03-06 09:18] luizperes commented on #1
Thank you for the help too! This issue will be addressed on  #3! Thanks! I will add an option to the readme file as well

[2019-03-06 10:43] luizperes commented on #5
Hi @lemire @TkTech,
I think I found a way to do it. It seems it should be possible with a (sort of) object trampoline.

In this way, I can use a proxy for my object, trap the getter/setter and return whatever I want.
<img width="1179" alt="screen shot 2019-03-06 at 1 58 12 am" src="https://user-images.githubusercontent.com/6173065/53874348-18d9c200-3fb7-11e9-8534-d033464351a5.png">

I started to i

[2019-03-06 12:51] lemire commented on #5
Assuming that it works well in benchmarks, this is a very appealing design.

[2019-03-14 00:09] lemire opened #10 "Consider updating to simdjson 0.1.1"
We have a new version which has precomputed string lengths, and supporting strings with null characters in them.

[2019-03-15 17:16] luizperes commented on #10
Hi @lemire, thanks for the update, will do it soon. Sorry for the delay in answering, I caught a bronchitis this week so I took it off.

[2019-03-17 01:53] luizperes commented on #10
Hi @lemire, it has been done here: https://github.com/luizperes/simdjson_nodejs/pull/11

[2019-03-17 01:53] #10 closed

[2019-04-24 05:22] hrdwdmrbl opened #13 "Very big JSON (up to 2gb)"
I'm working on a project which needs to parse some very large stringified JSON (up to 2GB).

It isn't clear to me whether this issue is the same as https://github.com/luizperes/simdjson_nodejs/issues/5 or not

[2019-04-24 06:12] luizperes commented on #13
Hi @hrdwdmrbl, the problem with issue #5 is that there is some overhead in converting the C++ object into a JS object. I am working on that on branch `fix-5`

[2019-04-25 06:59] luizperes commented on #13
Hi @hrdwdmrbl, I have fixed your problem by creating the `lazyParse` function. It is already merged with the `master` branch, please check its usage on the README file, I am also going to update the package on npm. I really appreciate your feedback.

Please close this issue if you feel this change is good enough, cheers!

[2019-04-25 07:01] luizperes commented on #5
Hi @lemire, I have implemented the `lazyParse` as discussed before. Could you update your local copy of `simdjson` and check if it is okay now parsing-time-wise? Cheers!

[2019-04-26 20:18] lemire commented on #5
@luizperes  On my todo.

[2019-04-30 18:09] luizperes commented on #13
Closing this, as a solution was already done. Please reopen that if you need something else @hrdwdmrbl

[2019-04-30 18:09] #13 closed

[2019-05-01 18:49] lemire commented on #5
I confirm the good results. I think we can close the issue, good work!

[2019-05-01 18:49] #5 closed

[2019-05-10 13:49] lemire opened #15 "Consider updating to latest release (0.1.2)"
It fixes a few potential buffer overruns for adversarial inputs. It should be safer.

[2019-05-10 17:10] luizperes commented on #15
Will do soon, thanks for the heads up @lemire !

[2019-07-04 17:01] croteaucarine commented on #5
Hi @luizperes. I am currently doing a study on simdjson for my master and we are trying to improve performances of the simdjson library in high-level environments such as Node and Python. I downloaded the sources and saw what you did with lazy_parse. This is a huge advancement but I don't see the use of the Javascript Proxy in the sources. I did a little implementation in JS based on your suggesti

[2019-07-08 03:27] luizperes commented on #5
Hi @croteaucarine,
I would love if you continued working on that, I could really use another brain, since I myself did not find a very good way of extracting properties through proxies. You surely can count on me if you need anything! :)
The reason why I implemented the method `valueForKeyPath` instead was because in the case I described to @lemire , a proxy always return an object that is also a

[2019-07-08 18:15] luizperes commented on #6
Help needed for windows, removing that from `WIP` since I don't have a windows machine

[2019-07-10 19:41] stachetheoverlord opened #16 "Uses V8 even when SSE4.2 is available"
Simdjson also supports SSE4.2 - but this library still falls back to V8's parser when it's available.

[2019-07-10 19:51] luizperes commented on #16
Hi @stachetheoverlord, I am not so sure I understood what you described. Do you mean that it falls in the AVX2 when SSE4.2 is available? The `V8` is related to the JS engine that binds the C++ lib, it is not direclty related to simdjson. Could you clarify that and give me repro steps and expected results? Thanks!

[2019-07-10 20:03] stachetheoverlord commented on #16
When benchmarking this library on a CPU that does not support AVX2, but does support SSE4.2, it only uses the default (nonavx2) parser.

Simdjson [supports SSE4.2](https://github.com/lemire/simdjson#requirements), so it should be used in that situation

[2019-07-10 20:23] luizperes commented on #16
Oh, got it! It should be simply fixed by adding an `&&` to the the preprocessing directives https://github.com/luizperes/simdjson_nodejs/blob/master/simdjson/nonavx2.cpp#L1 adding the case for SSE4.2, I am currently only checking for `AVX2`.
Although, I am quite a bit busy lately and won't have time to do it soon, so feel free to do it, if you feel comfortable.

[2019-07-11 04:32] luizperes commented on #16
Hi @stachetheoverlord,
I have just double checked, my projects  is outdated as per https://github.com/luizperes/simdjson_nodejs/issues/15, will try to fix it soon, once I verify a potential problem with the singleheader source file

[2019-07-19 20:12] lemire opened #17 "Query syntax example broken?"
Upstream, simdjson is going to soon support JSON Pointer queries, but, it is maybe worth pointing out that the current example from the README fails:

Do
[code]

Create this file inside simdjson_nodejs...
[code]

Then do...

[code]

I get...
[code]

cc @ioioioio @croteaucarine

[2019-07-19 20:12] lemire commented on #3
Upstream, simdjson will provide runtime dispatch. So this should not be necessary in the future.

cc @ioioioio

[2019-07-19 20:13] lemire commented on #6
This may get resolved with the next version of simdjson. Upstream, simdjson will provide runtime dispatch.

cc @ioioioio

[2019-08-01 20:36] lemire commented on #15
Given that version 0.2.0 has been released, I will create a new issue.

[2019-08-01 20:36] #15 closed

[2019-08-01 20:36] lemire opened #18 "Consider updating to simdjson 0.2.0"
The library simdjson has a new major release (0.2.0). Major changes:

* Support for 64-bit ARM processors, can run under iOS (iPhone).
* Runtime dispatching on x64 processors (switches to SSE on older x64 processors, uses AVX2 when available). Supports processors as far back as the Intel Westmere.
* More accurate number parsing.
* Fixes most warnings under Visual Studio.
* Several small bugs have

[2019-08-01 20:48] luizperes commented on #18
Thanks for this update, @lemire, I was waiting for it!

[2019-08-02 05:52] luizperes commented on #18
There a lot of breaking changes on this new version, so I think I will need some more time to do it, as I will have to touch the structure of the project

[2019-08-03 01:56] luizperes commented on #18
Hi @lemire, I have updated and published on npm. Please let me know if you have any questions!

[2019-08-03 01:56] #18 closed

[2019-08-03 01:56] luizperes commented on #16
Done on #19, you can now use it, cheers!

[2019-08-03 01:56] #16 closed

[2019-08-03 01:58] luizperes commented on #6
Hi @lemire, I still need help for testing if it is working on Windows. For this reason I won't close it right now, cheers!

cc @ioioioio

[2019-08-03 01:58] luizperes commented on #17
I will check that, I didn't see this issue before... thanks!

[2019-08-03 01:59] luizperes commented on #3
I have updated to `0.2.0`. Could you confirm that @lemire and @ioioioio?

[2019-08-03 03:39] luizperes commented on #17
Hi @lemire, it was fixed here https://github.com/luizperes/simdjson_nodejs/pull/20

[2019-08-03 03:39] #17 closed

[2019-08-03 14:26] lemire commented on #17
Thanks.

[2019-08-03 15:07] lemire opened #21 "Reporting timings in GB/s"
It would be more interesting if we could report the timings (in the README.md) in GB/s, or some other normalized metric.

[2019-08-03 15:14] lemire commented on #3
@luizperes I think that your code still check for AVX2. You don't need that anymore.

- On 64-bit ARM, no check should be necessary. We don't support 32-bit ARM.
- We don't support 32-bit x86...
- We support x64 with a minimum of SSE 4.2 + CLMUL. This is what fairly old processors have (Westmere, Sandy Bridge...).

What you do (check for AVX2 and then bail out) should work fine if you not on ARM,

[2019-08-03 22:34] luizperes commented on #3
So, would it suffice if we said we don't support 32-bit at all?

I will likely use the same directives simdjon is using then, good to know, thanks!

[2019-08-03 22:48] lemire commented on #3
Right... and to be prudent check for sse 4.2 and clmul on x64.

[2020-02-04 14:16] NicoVogel opened #22 "Debian Stretch 9.11 Docker Build Fails"
I try to run `npm i sindjson` and get the following error. In the main project you advice to use the `gcc-8` so i tried to install it (`gcc (Debian 6.3.0-18+deb9u1) 6.3.0 20170516` is currently installed). The issue here is that I could not figure out how to get the experimental version to work. I am still new to linux...

[code]

Here some more information about the system

[code]

[code]

[code]

[2020-02-06 06:39] luizperes commented on #22
Hi @NicoVogel,

As far as I can see in your logs, the problem seems to be in the `string_view`, which was included only in C++17 as I see [here](https://en.cppreference.com/w/cpp/header/string_view). I believe that it might exist a problem in my [binding.gyp file](https://github.com/luizperes/simdjson_nodejs/blob/master/binding.gyp) where I do not include your environment properly.

I think I need

[2020-02-06 07:04] luizperes commented on #22
Hey @NicoVogel, I think I figured out your problem, the version of your gcc seems to be actually `6`, not `gcc-8`, as per:

This [topic here](https://github.com/apache/trafficserver/issues/3849) mentions that c++17 was only given support on gcc-7 onwards. If you did install `gcc-8`, then it is possible that your main CXX compiler is still pointing to version 6.

Hope that helps!

[2020-02-29 08:44] luizperes commented on #22
I am closing this bug as there was no follow-up. Feel free to reopen it if you still have trouble with that @NicoVogel, thanks!

[2020-02-29 08:44] #22 closed

[2020-03-27 13:51] dalisoft opened #23 "Error while starting"
Hi @luizperes and thanks for such great project.

I'm tried run this project, but there got some errors.

### nodemon
[code]

### node + fish shell
[code]

### node + zsh shell
[code]

### node + bash
[code]

### instructions
[code]

### Env
- OS: macOS Catalina 10.15.4
- Machine: MBP Mid-2012 i5-3210M 8GB RAM
- Node: v13-latest

[2020-03-30 08:42] luizperes commented on #23
Hi @dalisoft, it seems like your machine doesn't have support to SIMD. When I check in my machine, I get something like:

[code]

I think `simdjson` works best if you have `SSE4.2` or `AVX2` (it looks like your hardware doesn't include those?). I believe @lemire and the others are working on the `AVX512` as far as I remember by glancing at some emails.

As for the crash, I think my bindings are no

[2020-03-30 09:14] dalisoft commented on #23
Hi @luizperes

Yes, i think my machine doesn't support AVX2 and/or SSE4, but i expected falling back to `JSON.parse` as mentioned in README (maybe i'm wrong).

Thank you too for such great library, i want use this library on my library for improving `JSON.parse` performance, i hope you can fix handling and we can use this library.

I currently using `turbo-json-parse`, but library seems doesn't st

[2020-03-30 09:31] luizperes commented on #23
Hi @dalisoft,

Yes, you're completely right. That is exactly how it should work.

Thank you too for being enthusiast in using it! Truth being told, I really only made it available for node, the hard work is done at the [original repo](https://github.com/simdjson/simdjson) :)

I already have an idea of how the crash is happening. If I were to guess, it is because of my config file, more precisely [

[2020-03-30 09:38] luizperes commented on #3
I just realized I did not update that (with #23). Hi @lemire, is it correct that we don't need to use the flags `-mavx2` anymore?

[2020-03-30 09:39] luizperes commented on #23
Hi @dalisoft, by reading #3 I realized that it shouldn't be hard at all! Am just waiting for the confirmation there  from Lemire, and might be able to do it even tomorrow if it is what I am thinking!

[2020-03-30 09:47] dalisoft commented on #23
@luizperes
I tried `node-gyp`, but i not able to understand good to use. I have also other few projects which if i bind from `c/c++` will be faster, but for now i can't. In future may be know.

Yes, hard work made by simdjson community/team, but for node.js community hard work you and community of simdjson-node did, so from node.js community all thanks goes to you.

About your time, yep, i underst

[2020-03-30 09:50] dalisoft commented on #21
Maybe in `HPS (Handle-per Second)` or `PPS (Parse-per-Second)`?

[2020-03-30 09:55] luizperes commented on #23
Right!

Checking #3, Lemire said that `simdjson` would have a runtime dispatch (which we have now), so I think I won't need to touch `node-gyp`. Yet, I will need to be the one doing it, because I will have to update the library and change its structure.

<img width="793" alt="Screen Shot 2020-03-30 at 2 49 44 AM" src="https://user-images.githubusercontent.com/6173065/77899499-a2e37100-7231-11ea-9f

[2020-03-30 09:58] luizperes commented on #21
@dalisoft  The original repo already does GB/s. Also it's how we usually evaluate streaming/text processing on papers, that is why he mentions GB/s.

[2020-03-30 10:00] dalisoft commented on #21
Would be nice to see benchmark, i know only Request/sec or calls per second. About GB/sec i see, but never realized in benchmarks

[2020-03-30 13:06] lemire commented on #21
You have to define the payload for requests per second to be meaningful. Parsing an empty JSON document can be done an infinite number of times per second.

[2020-03-30 13:08] lemire commented on #23
It is correct, the upcoming version 0.3 of simdjson will run basically everywhere.

I expect we will be releasing it in a few days.

cc @jkeiser

[2020-03-30 13:10] lemire commented on #3
Please be advise that we no longer require SSE 4.2. The upcoming version of simdjson will run *everywhere*.

[2020-03-30 13:13] lemire commented on #3
@luizperes You should update to version 0.3 in a few days. You will just compile without any flag. It will run everywhere.

[2020-03-30 14:00] dalisoft commented on #21
@lemire Yes, i understand.
3-4 types of JSON payloads.

1. `{ "status": "success" }` - One-line simple responses
2. `{ "status": "success", "data": { "id": "uuiv4", ...other_datas } }` - User-data or simple query responses (max 1Kb)
3. `{ ...type2, "ref": { ...$ref_data, ...data_too_here } }` - Structured data of users with their references (~3-4K)
4. Large payload - Basically more than 10KB

I ca

[2020-03-30 20:24] luizperes opened #24 "Update bindings to simdjson 0.3"
Once `simdjson` is updated to its version 0.3, we no longer will need to pass flags such as the -mavx2. That will fix issues #3 and #23

[2020-03-30 20:25] luizperes commented on #23
Sounds good @lemire. I will be waiting for that then! I created a new issue to address that #24.

cc @dalisoft

[2020-03-30 21:06] lemire commented on #24
cc @jkeiser

[2020-03-30 21:09] lemire commented on #21
@dalisoft

If the document is small enough, we reach millions of documents parsed per second. This was tested upstream. Our benchmarking tools now report the number of documents parsed per second.

[2020-03-31 00:21] luizperes commented on #24
I have checked #6 and I think it will fix it too.

[2020-03-31 22:45] lemire opened #25 "Considering upgrading to simdjson 0.3.0"
# Version 0.3 of simdjson is now available

## Highlights

- **Multi-Document Parsing:** Read a bundle of JSON documents (ndjson) 2-4x faster than doing it  individually. [API docs](https://github.com/simdjson/simdjson/blob/master/doc/basics.md#newline-delimited-json-ndjson-and-json-lines) / [Design Details](https://github.com/simdjson/simdjson/blob/master/doc/parse_many.md)
- **Simplified API:**

[2020-03-31 23:42] luizperes commented on #25
Will do it soon, thanks @lemire!

cc @dalisoft

[2020-03-31 23:44] lemire commented on #25
@luizperes Be warned that the API changed a lot, but it is a lot better (we still have the old API, but it is deprecated). The new way is much, much nicer.

[2020-04-01 18:14] nojvek opened #26 "Typescript types as index.d.ts file please"
Great library, although the interface is somewhat unintuitive. Is `isValid` the only method?

Would love to see typescript types so the library interface is fully documented. I can help here. Just don't really know what the interface right now is, and how to make most of the library.

[2020-04-01 22:13] luizperes commented on #26
Hi @nojvek, fair point. I was taking a look at the readme and realized it could be a little more clear.

I will try to explain here a little better and will use that to change the README later. Please consider the the section `Usage` of the README.

<img width="939" alt="Screen Shot 2020-04-01 at 1 44 11 PM" src="https://user-images.githubusercontent.com/6173065/78185143-7725de00-741f-11ea-945f-db

[2020-04-01 23:26] luizperes commented on #25
Hi @lemire, yeah, I saw that, I will try to include that as well reflecting in the bindings

[2020-04-02 02:43] luizperes commented on #24
Closing this issue because:
- PR #27 fixes the issue with the flags.
- Issue #25 is duplicate of this one.

[2020-04-02 02:43] #24 closed

[2020-04-02 02:45] luizperes commented on #3
PR #27 fixes this issue

[2020-04-02 02:45] #3 closed

[2020-04-02 02:46] luizperes commented on #6
PR #27 fixes this issue

[2020-04-02 02:46] #6 closed

[2020-04-02 02:47] luizperes commented on #23
Hi @dalisoft, I updated the bindings to the latest version of `simdjson`. I think it should work now. Let me know how it goes. Cheers!

[2020-04-02 03:17] luizperes commented on #26
I've moved what I explained here to the file [Documentation.md](https://github.com/luizperes/simdjson_nodejs/blob/master/Documentation.md)

[2020-04-02 03:50] nojvek commented on #26
Sweeet. I will take a pass tomorrow.

[2020-04-02 06:04] dalisoft commented on #23
@luizperes Yes, it works, but very slow compared to native `JSON.parse` on machines where AVX does not support.

Example of benchmark code:

### bench.js
[code]

### calling
[code]

### results
[code]

~4-5 times slower, currently did not tested on AVX machines, i think in few days can test in AVX devices too

[2020-04-02 06:09] luizperes commented on #23
Hi @dalisoft, this problem is described on issue #5. Also, please read the [`Documentation.md`](https://github.com/luizperes/simdjson_nodejs/blob/master/Documentation.md).

Because your initial issue is fixed, I will close it. Feel free to open new issues in case you find any, cheers!

[2020-04-02 06:09] #23 closed

[2020-04-02 06:10] dalisoft commented on #23
@luizperes Yes, current issue was fixed. Thanks. Great project :)

[2020-04-03 07:58] dalisoft opened #28 "Slower than JSON.parse"
Hi @luizperes

I know this library was made to handle large JSON files, but there i occurred to some performance stranges when tried to parse my json and benchmarked, this library is slow, up to 6-x slower.

Here result:
[code]

Also, `lazyParse` does not return expected result for me or i'm doing something wrong, and even using lazyParse, performance still slow. How we can improve this?

### Code

[2020-04-03 08:12] dalisoft commented on #28
Tested on AVX supported device too

![Benchmark](http://joxi.ru/5mdagKoSeKLNo2?d=1)

[2020-04-04 05:44] luizperes commented on #28
Hi @dalisoft,
`simdjson.parse` is **always** slower as expected. Please take a look at issue #5 and the [Documentation.md](https://github.com/luizperes/simdjson_nodejs/blob/master/Documentation.md) file.

Thank you so much for making your tests available to me so I could save some time. As you mentioned, `simdjson` is not doing better than the standard JSON for your case. It could be that there is

[2020-04-04 05:54] luizperes commented on #28
Oh, here is the usage of `lazyParse`:

[code]

See that it does not construct the actual JS object, it keeps an external pointer to the C++ buffer and for this reason, you can only access the keys with the `valueForKeyPath` function that is returned in the object.

[2020-04-04 06:25] lemire commented on #28
It is *generally* a challenging task but simdjson should still be faster than the competition.

[2020-04-04 06:26] lemire commented on #28
The simdjson library itself is faster even on small files.

[2020-04-04 06:31] lemire commented on #28
cc @croteaucarine @jkeiser

[2020-04-04 12:58] dalisoft commented on #28
Is i'm doing something wrong or at cost of bindings performance isn't what i want.

@luizperes

[code]

I see it's good, but i'm using for other case

[code]

I want use this library within my backend framework for node.js as `JSON.parse` alternative for higher performance, but performance only slow downing

[2020-04-04 16:21] lemire commented on #5
@luizperes I suggest you have a look at https://github.com/croteaucarine/simdjson_node_objectwrap
It seems that @croteaucarine might have a good strategy.

[2020-04-04 18:41] luizperes commented on #28
Hi @dalisoft, I see your point now. There are only a few cases where you actually need the whole json, but for the root case, it should have the same performance for this wrapper.

I will think of new approaches to improve the library but will only be able to do it in the future. I also will take a close look to the repo https://github.com/croteaucarine/simdjson_node_objectwrap  @croteaucarine. Sh

[2020-04-04 19:44] dalisoft commented on #28
@luizperes Thanks, i'll wait :)

[2020-04-04 22:26] luizperes commented on #25
Done on #29 29

[2020-04-04 22:26] #25 closed

[2020-04-08 08:37] luizperes commented on #26
Closing this as PR #30 addresses that, thank you for your work @nojvek!

[2020-04-08 08:37] #26 closed

[2020-04-08 09:04] luizperes opened #32 "Update mocha to a version > 7.1.1"
**Problem**
Mocha `7.1.0` is using an outdated version of `mkdirp` and that is causing a warning of `low severity vulnerability`. Updating mocha to `7.1.1` (the latest at the moment on `npm`) is no good as well, as it is using `mkdirp@0.5.3` and we get a deprecated message: `Legacy versions of mkdirp are no longer supported. Please update to mkdirp 1.x. (Note that the API surface has changed to us

[2020-04-08 14:39] nojvek commented on #32
Iwe only use mocha in dev env (I.e building the module). After its published, mocha shouldn’t be needed so this should be okay.

But you’re right. Mocha should update themselves to be warning free.

[2020-04-10 20:39] #21 closed

[2020-04-10 20:43] luizperes commented on #21
PR #33 closes this issue

[2020-04-10 21:42] luizperes commented on #28
Note to self: there are a few leads on PR #33

[2020-04-16 12:09] nojvek opened #34 "Expose the underlying json tape as ArrayBuffer"
Reading the code I see the fast part of simdjson is parsing the bytes of json and creating two buffers/tapes. One is the json tape that marks starting, ending and types for various elements. The other is a string tape that contains the parsed strings in utf-8 format.

JavaScript offers a nice way of fast buffer indexing and getting our values via TypedArrays and ArrayBuffers. https://developer.moz

[2020-04-16 17:44] jkeiser opened #35 "Keep the parser alive between parses"
The simdjson parser has some allocation to do when it is initialized, and currently simdjson_nodejs recreates the parser every single time.

We could use napi's [napi_set/get_instance_data](https://nodejs.org/api/n-api.html#n_api_environment_life_cycle_apis) to store an instance of the parser for each JS worker thread, keeping that internal memory around. We would have to extract the document from

[2020-04-16 18:43] luizperes commented on #34
Thanks @nojvek, that does make sense! I've been meaning to add the rest of the API (but failed to document that in an issue).

The iterator part, in my opinion, should be kept in the C++ side since `simdjson` already has an API for "JSON Pointer" and support for iterators (https://github.com/simdjson/simdjson/blob/master/doc/basics.md#json-pointer). If we did the same in the library, we would have

[2020-04-16 20:12] lemire commented on #35
@jkeiser I think we need to relate this to the following upstream issue... https://github.com/simdjson/simdjson/issues/94

[2020-04-16 20:39] nojvek commented on #34
Not opposed to the idea of using existing c++ interface.

I wrote a pure js tape dumper because I wanted to understand the underlying mechanics of simdjson. Some neat ideas.

[code]

[2020-04-16 22:55] luizperes commented on #34
I see, with your example, I re-read what you wrote and that makes a lot of sense. So would it suffice if I exposed the two available tapes? (I only need to check if it is possible to access them within C++ without modifying the headers, preferably)

[2020-04-17 00:23] nojvek commented on #34
That would be great if it's easily exposable without extra memory copying.

[2020-04-17 07:56] luizperes commented on #34
Hi @nojvek,

I implemented what you asked on the branch [buffers](https://github.com/luizperes/simdjson_nodejs/tree/buffers). Creating `ArrayBuffer`s seems to have some overhead on `NApi` and it actually doesn't improve, as we initially thought. Funny thing is: if I switch it with [`External`](https://github.com/nodejs/node-addon-api/blob/master/doc/external.md) (keeping a C++ pointer to it), we t

[2020-06-24 01:26] lemire opened #37 "Consider updating to simdjson version 0.4.0"
Highlights

- Test coverage has been greatly improved and we have resolved many static-analysis warnings on different systems.

New features:
- We added a fast (8GB/s) minifier that works directly on JSON strings.
- We added fast (10GB/s) UTF-8 validator that works directly on strings (any strings, including non-JSON).
- The array and object elements have a constant-time size() method.

Performanc

[2020-07-21 04:09] luizperes commented on #32
Fixed on #39

[2020-07-21 04:09] #32 closed

[2020-09-05 03:45] ChrisSmith opened #40 "Memory Leak"
When running the benchmarks locally, the process gradually consumes all memory on my machine until it runs out of memory (~28GB)

Commenting out `simdjson.lazyParse` in the benchmark removes leak behavior, so I don't think its the test setup. Printing the node heap statistics shows that it is stable ~80 mb, so the leak is likely in the c++ code.

[2020-09-05 03:54] ChrisSmith commented on #40
`isValid` and `parse` don't seem affected, so its specific to `lazyParse`

[2020-09-05 04:15] luizperes commented on #40
Hi @ChrisSmith, thanks for your input. I will investigate that and get back to you, cheers!

[2020-09-07 05:15] #37 closed

[2020-09-07 07:02] luizperes commented on #40
Hi @ChrisSmith, I took some time to investigate that today and in my machine (2018 Macbook i7 with 16GB RAM) it doesn't leak memory as we would expect, but had a peak of around 5GB but soon released it and had an average usage of 2GB. This on 7 threads as I didn't find a way to control the number of threads from within `benchmark` lib.

We also updated the library. Now it's currently on version `0

[2020-12-15 11:59] elibarzilay opened #42 "Performance warning?"
(Apologies in advance for this issue being kind of all over the place...)

I'm playing with code that is processing a potentially large input which is basically a single array of small-ish objects (a performance dump).  I saw #28, and therefore kept it only to uses of `lazyParse`: read one line at a time, lazy parse it, inspect one field, and dump the object back out.

The result is still signific

[2020-12-15 13:19] xamgore commented on #28
@luizperes did you consider the way [node-expat](https://github.com/astro/node-expat) has chosen?

[2020-12-18 21:24] luizperes commented on #42
Hi @elibarzilay, thanks for opening this issue.

 I don't think it is related to #35. As explained on #28, the overhead is in the conversion from C++ objects to JS objects. The only feasible solution seems to be implementing that directly on the engines (such as V8).

`simdjson` itself is faster for both types of objects, but `simdjson_nodejs` is **not**. Once we fix #28, that shuld be fixed, so I

[2020-12-18 21:27] luizperes commented on #28
@xamgore can you elaborate your question?

[2020-12-18 23:09] elibarzilay commented on #42
My experiment was lazy parse each line and testing just *one* field -- is the cost of converting one number high enough to dominate the runtime?

Well, regardless of whether it's the conversion or the parser initialization cost, as it stands, the README in its current state is misleadingly looking like I should be expecting some speed benefit.  (I did get the fact that constructing the full object

[2020-12-20 16:01] dalisoft commented on #28
@luizperes Hi
For better debugging you can try https://github.com/nanoexpress/json-parse-expirement

[2020-12-22 11:36] xamgore commented on #28
@luizperes with node-expat you can add js callbacks for events like "opening tag", "new attribute with name _x_", etc, so only the required fields are picked, copied and passed back to the javascript thread.

[2021-04-02 07:10] wavesheep opened #44 "Can't build on windows"
NODE_VERSION: 15.10.0
TARGET_PLATFORM_VERTION: 10.0.17763.0
VS_VERTION: VS2017 (15.9.28307.1440)
TOOLSET_VERTION: v141
`
node-addon-api\napi-inl.h(2155): warning C4530: C++ exception handler used, but unwind semantics are not enabled. Specify
simdjson\simdjson\bindings.cpp(15): error C2653: 'dom': is not a class or namespace name
simdjson\simdjson\bindings.cpp(15): error C2061: syntax error: ident

[2021-04-02 08:11] wavesheep commented on #44
When I fallback to v0.2.1, it works.

[2021-05-10 11:29] aayush-sib opened #46 "Server breaking"
Hi,
I have implemented `simdjson` in my server to parse the incoming body. But after some requests server breaks with the error. Also, I am not able to replicate the issue at my end but this is affecting our clients.

[code]

Can you help me with this?

[2021-05-10 11:34] ThePubDoc commented on #46
I am also facing the same issue :(

[2021-06-30 10:29] aayush-sib opened #49 "Can't build on travis"
Node version: v14.15.4
Npm version: 6.14.10
OS: Ubuntu 16.04.6 LTS

`In file included from ../simdjson/bindings.h:2:0,
                 from ../simdjson/main.cpp:2:
../simdjson/src/simdjson.h:22936:58: error: ambiguous template specialization ‘get<>’ for ‘simdjson::simdjson_result<simdjson::fallback::ondemand::array> simdjson::fallback::ondemand::document::get() &’
 template<> simdjson_really_inli

[2021-07-01 15:15] luizperes commented on #49
HI @aayush-sib, it seems to me this is related to the CXX compiler your travis version is using. Could you give me more details on that?

[2021-09-23 19:57] luizperes commented on #46
Hi @aayush-sib, I missed the notification for this issue.

I think that we had a version with this problem but by now it is potentially fixed. Could you take another look at it?

[2022-01-28 17:05] RichardWright commented on #28
So just to confirm, if you want to get the entire object from a string(eg lazy usage isn't possible), this probably isn't the library to use in it's current state?

[2022-01-28 17:09] lemire commented on #28
@RichardWright  I cannot speak specifically for this library but one general concern is that constructing the full JSON representation in JavaScript, with all the objects, strings, arrays... is remarkably expensive. In some respect, that's independent from JSON.

cc @jkeiser

[2022-01-28 17:40] RichardWright commented on #28
Passing around a buffer and using key access is the preferred method then?

[2022-01-28 18:36] luizperes commented on #28
That is correct @RichardWright. My idea, as mentioned in other threads, would be to have simdjson implemented as the native json parser directly into the engine e.g V8. That would possibly speed up the process. At this moment I am finishing my masters thesis and don't have time to try it, so we will have to wait a little bit on that. :)

[2022-01-28 18:46] Uzlopak commented on #28
CC @mcollina

[2022-01-31 17:44] RichardWright commented on #28
@luizperes cool, thanks for the response!

[2022-03-05 02:31] wolf20482 opened #52 "Cannot install with Visual Studio Community 2022 on Windows 10 x64"
I followed the instructions at https://github.com/nodejs/node-gyp#on-windows to install `node-gyp` on Windows. I already have Visual Studio Community 2022 installed with "Desktop development with C++" before so I ran `npm config set msvs_version 2022` instead of `npm config set msvs_version 2017`. The installation was successful and my Node.js is also on the latest LTS version (v16.14.0). I tried

[2022-04-24 09:22] haoyuintel commented on #5
Hi @luizperes , I am very interesting about the project of simdjson and thank you for building the bindings of node.js. I have also tested some benchmarks which I am interested in. I found the same phenomenon in issue#28, without lazyparse, the parsing speed by simdjson is slower than default json.parse.  But it seems that lazyparse is a good method for parsing JSON.
In this issue, I found that pe

[2022-07-07 16:56] rluvaton opened #54 "This package size is 39MB"
the package size is 39MB becuase of the examples:
[code]

[2022-07-11 14:38] luizperes commented on #54
Thanks, I will see if I remove the examples! :)

[2022-07-29 19:42] Uzlopak opened #59 "Is this project still maintained?"
Well. Is it?

[2022-07-29 23:19] Uzlopak commented on #52
You have to set in bindings.gyp `"AdditionalOptions": ["/std:c++17", "/EHsc"]`

[2022-07-30 14:13] Uzlopak commented on #40
I can also confirm the memory leak.